{% extends "@FOSUser/layout.html.twig" %}

{% block body %}
<div  id="ariane" class="col-md-9">
{{ wo_render_breadcrumbs() }}
</div>

<div id="centre" class="col-md-10">

	{% form_theme coloc_form 'bootstrap_4_layout.html.twig' %} 
	<form method="POST" name="colocation" class="form-horizontal" action="">
	<br>
		<div class="control-group">
			{{form_label(coloc_form.adresse)}}
			{{form_errors(coloc_form.adresse)}}
			{{form_widget(coloc_form.adresse)}}
		</div>
		<br>
		<div class="control-group">
			{{form_label(coloc_form.ville)}}
			{{form_errors(coloc_form.ville)}}
			{{form_widget(coloc_form.ville)}}
		</div>
		<br>
		<div class="control-group">
			{{form_label(coloc_form.nbPers)}}
			{{form_errors(coloc_form.nbPers)}}
			{{form_widget(coloc_form.nbPers)}}
		</div>
		<br>
		<div class="control-group">
			{{form_label(coloc_form.nbChambre)}}
			{{form_errors(coloc_form.nbChambre)}}
			{{form_widget(coloc_form.nbChambre)}}
		</div>
		<br>
		<div class="control-group">
			{{form_label(coloc_form.type)}}
			{{form_errors(coloc_form.type)}}
			{{form_widget(coloc_form.type)}}
		</div>
		<br>
		<div class="control-group">
			{{form_label(coloc_form.prix)}}
			{{form_errors(coloc_form.prix)}}
			{{form_widget(coloc_form.prix)}}
		</div>
		<br>
		<div class="control-group">
			<input type='submit' name='Ajout' value="Valider" class="btn btn-success"/>
		</div>
	</form>
</div>
{% endblock body %} 

