{% extends 'base.html.twig' %}

{% block coteG %}
	<h4>Affiner la recherche</h4>

	<form method="POST" name="colocation" class="form-horizontal" action="">
		<h5>Par Ville</h5>
		<input type="text" name='ville' />
	
		<h5>Par Type</h5>
		<select name="type">
			  <option value="NULL" selected>...</option> 
			  <option value="T1" >T1</option> 
			  <option value="T2">T2</option>
			  <option value="T3">T3</option>
			  <option value="T4">T4</option>
			  <option value="T5">T5</option>
			  <option value="T6">T6 et +</option>
			  
		</select><br>
		<h5>Par nombre de personne</h5>
		<select name="nbPers">
			  <option value="NULL" selected>...</option> 
			  <option>2</option> 
			  <option>3</option>
			  <option>4</option>
			  <option>5</option>
			  <option>6 et +</option>
  
		</select><br>
		<input type="submit" name="recherche" value="Valider" class="btn btn-success"/>
		<a class="btn" href={{ path('homepage') }}>{{ 'action.cancel'|trans }}</a>
	</form>

	
{% endblock %}				
{% block coteD %}	
	<h4>A changer</h4>
	</h5>
{% endblock %}
{% block body %}
	<div id="balise">
		<script>
			function visibilite(Id)
			{
				var targetElement;
				targetElement = document.getElementById(Id) ;
				if (targetElement.style.display == "none")
				{
					targetElement.style.display = "" ;
				} else {
					targetElement.style.display = "none" ;
				}
			}
		</script>
	
		
						
			
			<h1> {{ 'colocations'|trans }} </h1>
			
			<div class="table-responsive-md" style="text-align: center">
				<table class="table-stripped">
			
					<tr>
						<th> {{ 'nbChambre' |trans }}</th>
						<th> {{ 'nbPers' |trans }} </th> 
						<th> {{ 'adresse' |trans }} </th> 
						<th></th>
						<th></th>
						<th></th>
					</tr>
					{% for item in colocations %}
						<tr>
							<td> {{item.getNbChambre()}}</td>
							<td>{{item.getNbPers()}}</td> 
							<td>{{item.adresse()}}</td> 
							<td> <a href={{ path('showColoc' , {'id': item.getId() }) }}  class="btn btn-primary btn-md">{{ 'show'|trans }}</a></td> 
							<td> <a href={{ path('editColoc',{'id': item.getId() }) }} class="btn btn-warning btn-md">{{ 'edit'|trans }}</a></td> 
							<td> 
							<a href="javascript:void(0)" class="btn btn-danger btn-md" onclick="javascript:visibilite({{item.getId()}});">{{ 'delete'|trans }}<a/>
							<div id="{{item.getId()}}" style="display:none;">
							
							<h6>{{'Are you sure you want to delete'|trans}}</h3>
							<a id= "cacher2" href="delete/{{item.getId()}}">{{'Yes'| trans}}</a>
							<a href="javascript:void(0)" id = "cacher3" onclick="javascript:visibilite({{item.getId()}});">{{ 'No'| trans}}<a/>
							
							</div>
							</td> 
						</tr>
					{% endfor %}
				</table>
			</div>
		<a href={{ path('Ajoutcoloc') }} class="btn btn-success"> {{ 'Ajout_coloc' | trans }} </a>
	</div>
{% endblock %}

{% block stylesheets %}
<style>
	#balise{ background: white; font: 18px/1.5 sans-serif;
				border-radius: 5px;
				padding : 30px;
				margin-left: auto;
				margin-right: auto;}
	#coteG {
				background: white; font: 18px/1.5 sans-serif;
				border-radius: 5px;
				padding : 30px;
				float: left;

			}
   body		/* Body correspond à toute la page */
			{
	
				background-image: url(/../ville.jpg);
				
				background-size : 100%;		/*On affiche l'arrière plan à 100%*/
				background-attachment:fixed;	/*On fixe l'arrière plan*/
				background-repeat : no-repeat; /*Le fond ne se repettera pas*/
				
				font-family:Verdana;
				
			}
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
