{% extends 'base.html.twig' %}

{% block coteG %}
	<h4>Affiner la recherche</h4>

	<form method="POST" name="colocation" class="form-horizontal" action="">
		<h5>Par Ville</h5>
		<input type="text" name='ville' />
	
		<h5>Par Type</h5>
		<select name="type">
			  <option value="NULL" selected>...</option> 
			  <option value="T1" >T1</option> 
			  <option value="T2">T2</option>
			  <option value="T3">T3</option>
			  <option value="T4">T4</option>
			  <option value="T5">T5</option>
			  <option value="T6">T6 et +</option>
			  
		</select><br>
		<h5>Par nombre de personne</h5>
		<select name="nbPers">
			  <option value="NULL" selected>...</option> 
			  <option>2</option> 
			  <option>3</option>
			  <option>4</option>
			  <option>5</option>
			  <option>6 et +</option>
  
		</select><br>
		<h5>Par Prix</h5>
		<select name="prix">
			  <option value="NULL" selected>...</option> 
			  <option value="100" ><100</option> 
			  <option value="250">100-250</option>
			  <option value="400">250-400</option>
			  <option value="550">400-550</option>
			  <option value="700">550-700</option>
			  <option value="701">700 et +</option>
			  
		</select><br><br>
		<input type="submit" name="recherche" value="Valider" class="btn btn-success"/>
		<a class="btn" href={{ path('homepage') }}>{{ 'action.cancel'|trans }}</a>
	</form>

	
{% endblock %}				
{% block coteD %}	
	<h4>A changer</h4>
	</h5>
{% endblock %}
{% block body %}
	<div id="balise">
		<script>
			function visibilite(Id)
			{
				var targetElement;
				targetElement = document.getElementById(Id) ;
				if (targetElement.style.display == "none")
				{
					targetElement.style.display = "" ;
				} else {
					targetElement.style.display = "none" ;
				}
			}
		</script>
	
		
						
			
			<h1> {{ 'colocations'|trans }} </h1>
			
			<div class="table-responsive-md" style="text-align: center">
				<table class="table-stripped">
			
					<tr>
						<th> {{ 'nbChambre' |trans }}</th>
						<th> {{ 'nbPers' |trans }} </th> 
						<th> {{ 'adresse' |trans }} </th> 
						<th></th>
						<th></th>
						<th></th>
					</tr>
					{% for item in colocations %}
						<tr>
							<td> {{item.getNbChambre()}}</td>
							<td>{{item.getNbPers()}}</td> 
							<td>{{item.adresse()}}</td> 
							<td> <a href={{ path('showColoc' , {'id': item.getId() }) }}  class="btn btn-primary btn-md">{{ 'show'|trans }}</a></td> 
							<td> <a href={{ path('editColoc',{'id': item.getId() }) }} class="btn btn-warning btn-md">{{ 'edit'|trans }}</a></td> 
							<td> 
							<a href="javascript:void(0)" class="btn btn-danger btn-md" onclick="javascript:visibilite({{item.getId()}});">{{ 'delete'|trans }}<a/>
							<div id="{{item.getId()}}" style="display:none;">
							
							<h6>{{'Are you sure you want to delete'|trans}}</h3>
							<a id= "cacher2" href="delete/{{item.getId()}}">{{'Yes'| trans}}</a>
							<a href="javascript:void(0)" id = "cacher3" onclick="javascript:visibilite({{item.getId()}});">{{ 'No'| trans}}<a/>
							
							</div>
							</td> 
						</tr>
					{% endfor %}
				</table>
			</div>
		<a href={{ path('Ajoutcoloc') }} class="btn btn-success"> {{ 'Ajout_coloc' | trans }} </a>
	</div>
{% endblock %}

