{% extends "@FOSUser/layout.html.twig" %}

{% block body %}
<div  id="ariane" class="col-md-9">
{{ wo_render_breadcrumbs() }}
</div>

<div id="centre" class="col-md-9">
    <div class="container">
		<div class="col-md-10">
    		<div class="row">
		    	<h3>{{'Les informations'|trans}}</h3>
		    </div>
			<table class="table">
			  <thead class="thead-dark">
				<tr>
				  <th scope="col">{{'Ville'|trans}}</th>
				  <th scope="col">{{'Adresse'|trans}}</th>
				  <th scope="col">{{'Type'|trans}}</th>
				  <th scope="col">{{'nbChambre'|trans}}</th>
				   <th scope="col">{{'Prix'|trans}}</th>
				</tr>
			  </thead>
			  <tbody>
				<tr>
				  <td>{{colocations.getVille()}}</td>
				  <td>{{colocations.getAdresse()}}</td>
				  <td>{{colocations.getType()}}</td>
				  <td>{{colocations.getNbChambre()}}</td>
				  <td>{{colocations.getPrix()}} </td>
				</tr>
							
			   </tbody>
			</table>
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<a href={{ path('AjoutDemande',{ "id" : colocations.getId() }) }}  class="btn btn-primary btn-md">{{ 'Faire une demande'|trans }}</a> 
			{% endif %}
		</div>

	</div>
	
</div>

{% endblock %}

