{% extends "@FOSUser/layout.html.twig" %}

{% block body %}

<div  id="ariane" class="col-md-9">
{{ wo_render_breadcrumbs() }}
</div>

<div id="centre" class="col-md-9">
	<div class="container">
			<div class="col-md-10">
				<div class="row">
					<h3>{{'Gestion des utilisateurs'|trans}}</h3>
				</div>
				<div class="col-md-12 grille" >
				<table class="table">

				 <thead class="thead-dark">
				<tr>
					<th scope="row">{{ 'Username' |trans }}</th>
					<th>{{ 'Nom' |trans }}</th>
					<th>{{ 'Prenom' |trans }}</th>
					<th>{{ 'delete' |trans }}</th>
				</tr>
				<tbody>
				{% for item in profil %}
				

				 <tr>
					<td>{{item.getUsername()}} </td>
					<td>{{item.getNom()}}</td>
					<td>{{item.getPrenom()}}</td>
					 <td><a href={{ path('deleteUser', {'id': item.getId() }) }}  class="btn btn-danger btn-md glyphicon glyphicon-trash"> {{ 'delete'|trans }}</a></td>
				</tr>

				{% endfor %}
				</tbody>
				</table>	

						
					<br>
				</div>
			</div>
			

		</div>
		
	</div>
</div>


{% endblock body %}