<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %} Coloc +{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <!-- <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" /> -->
        <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
        <link rel="stylesheet" href={{ asset('CSS.css') }}>

    </head>
    <body>
		
        <nav class="navbar navbar-inverse" style="background-color : #6D071A">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href={{ path('homepage') }}><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Coloc +</a>
                </div>
				
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				 <ul class="nav navbar-nav navbar-left">
					<li >
						<a href={{ path('mesAnnonces') }}> <span class="glyphicon"></span> {{ 'Mes annonces' | trans }} </a>
					</li>
				</ul>
				{% endif %}

                <ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haria-haspopup="true" aria-expanded="false">
						<span class="glyphicon glyphicon-globe"></span> <span class="carret"></span> </a>
						<ul class="dropdown-menu">
							<li class="active"><a href={{ path('homepage', {'_locale': 'fr' }) }}>Français</a> </li>
							<li><a href={{ path('homepage', {'_locale': 'en' })}}>English</a> </li>
						</ul>
					</li>
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					{% else %}
					<li><a href={{ path('fos_user_registration_register') }}><span class="glyphicon glyphicon-user"></span> {{ 'sign_up'|trans }}</a></li>
					{% endif %}
					{% block head %}
					{% endblock %}
                </ul>
            </div>
        </nav>
		
		
			<div class="col-md-2">
				<div id="balise">
					{% block coteG %}
					{% endblock %}
				</div>
			</div>
			<div class="col-md-10">
			{{ wo_render_breadcrumbs() }}
			</div>
			<div id="balise" class="col-md-10">
				
					{% block body %}
					
					{% endblock %}
				
			</div>
			
		
		
        <div class="col-sm-12 footer">
            {% block footer %}
				<p>Copyright (c) 2018 L3 Miage - Université de Nantes </p>
			{% endblock %}

		</div>
		
        
        {% block javascripts %}
            <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

            <!-- Latest compiled JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
