<!DOCTYPE html>
<html>
    <head>
         <meta charset="UTF-8" />
        <title>{% block title %}Coloc + {% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <!-- <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" /> -->
        <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
        <style>
            .footer {
                margin-bottom: 35px;
                margin-top: 5cm;
                left: 0;
                bottom: 0;
                width: 100%;
                background-color: grey;
                color: white;
                text-align: center;
            }
			#balise{ background: white; font: 18px/1.5 sans-serif;
				border-radius: 5px;
				padding : 30px;
				margin-left: auto;
				margin-right: auto;}
			#coteG {
				background: white; font: 18px/1.5 sans-serif;
				border-radius: 5px;
				padding : 30px;
				float: left;

			}
			body		/* Body correspond à toute la page */
			{
	
				background-image: url( {{asset('ville.jpg')}} );
				
				background-size : 100%;		/*On affiche l'arrière plan à 100%*/
				background-attachment:fixed;	/*On fixe l'arrière plan*/
				background-repeat : no-repeat; /*Le fond ne se repettera pas*/
				
				font-family:Verdana;
				
			}
			h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
			h1 { font-size: 36px; }
			h2 { font-size: 21px; margin-bottom: 1em; }
			p { margin: 0 0 1em 0; }
			a { color: #0000F0; }
			a:hover { text-decoration: none; }
			code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
			#wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
			#container { padding: 2em; }
			#welcome, #status { margin-bottom: 2em; }
			#welcome h1 span { display: block; font-size: 75%; }
			#icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
			#icon-book { display: none; }

			@media (min-width: 768px) {
				#wrapper { width: 80%; margin: 2em auto; }
				#icon-book { display: inline-block; }
				#status a, #next a { display: block; }

				@-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
				@keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
				.sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
			}

        </style>
    </head>
    <body>
		
        <nav class="navbar navbar-inverse" style="background-color : #6D071A">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href={{ path('homepage') }}>Coloc +</a>
                </div>
				
				

                <ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haria-haspopup="true" aria-expanded="false">
						<span class="glyphicon glyphicon-globe"></span> <span class="carret"></span> </a>
						<ul class="dropdown-menu">
							<li class="active"><a href={{ path('homepage', {'_locale': 'fr' }) }}>Français</a> </li>
							<li><a href={{ path('homepage', {'_locale': 'en' })}}>English</a> </li>
						</ul>
					</li>
					<li><a href={{ path('fos_user_registration_register') }}><span class="glyphicon glyphicon-user"></span> {{ 'sign_up'|trans }}</a></li>
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
						{{ 'logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
						<li><a href="{{ path('fos_user_security_logout') }}">{{ 'logout'|trans }}</a></li>
					{% else %}
						<li><a href={{ path('fos_user_security_login') }}><span class="glyphicon glyphicon-log-in"></span> {{ 'login'|trans }}</a></li>
					{% endif %}
                </ul>
            </div>
        </nav>
		
		
		<div id="balise" class="col-md-2" style="margin-left:1%" >
			{% block coteG %}
		
			{% endblock %}	
		
		</div>

        <div class="col-md-7">
			{% if app.request.hasPreviousSession %}
				{% for type, messages in app.session.flashbag.all() %}
					{% for message in messages %}
						<li> <div class="flash-{{ type }}">
						{{ message }}
						</div>
					{% endfor %}
				{% endfor %}
			{% endif %}
			
			{% block body %}
				

			{% endblock %}
		</div>
		
		<div id="balise" class="col-md-2"  >
			{% block coteD %}

			{% endblock %}
		</div>
			
        <div class="col-sm-12 footer">
            {% block footer %}
				<p>Copyright (c) 2018 L3 Miage - Université de Nantes </p>
			{% endblock %}

		</div>
        
        {% block javascripts %}
            <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

            <!-- Latest compiled JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
