{% extends "@FOSUser/layout.html.twig" %}

{% block coteG %}
			<div class="col-md-3">
				<div id="balise">
	<h4>{{ 'Changer le style' | trans }}</h4>
		<form name='theme' method = "POST" class="form-horizontal"  action="" >
	<SELECT class="form-control" name = 'style'>
	<OPTION value = "NULL" selected> ...</option>
		<OPTION value = "CSS.css"> Style 1 </option>
		<OPTION value = "2.css" > Style 2 </option>
		<OPTION value = "3.css" > Style 3 </option>
	</select>
	<br>
	<INPUT type ="submit" name="Changer" class="btn btn-success" value = "{{'Changer de theme' | trans }}" />
	</form>
	<h4>{{'Affiner la recherche' | trans }}</h4>
	<form method="POST" name="colocation" class="form-horizontal" action="">

		<label for='ville'>{{'Par Ville' | trans }}</label>
		<input class="form-control" type="text" name='ville' id='ville' />
	
		<label for='type'>{{'Par Type' | trans}}</label>
		<select class="form-control" name="type" id='type'>
			  <option value="NULL" selected>...</option> 
			  <option value="T1" >T1</option> 
			  <option value="T2">T2</option>
			  <option value="T3">T3</option>
			  <option value="T4">T4</option>
			  <option value="T5">T5</option>
			  <option value="T6">T6 et +</option>
			  
		</select><br>
		<label for='pers'>{{'Par nombre de personne' | trans }}</label>
		<select class="form-control" name="nbPers" id='pers'>
			  <option value="NULL" selected>...</option> 
			  <option>2</option> 
			  <option>3</option>
			  <option>4</option>
			  <option>5</option>
			  <option value = 6 >6 et +</option>
  
		</select><br>
		<label >{{'Par Prix' | trans }}</label>
		
		<select class="form-control"  name="prixMin">
			  <option value="NULL" selected>{{'Prix Min' | trans }}</option> 
			   <option value="0" >0</option> 
			  <option value="100" >100</option> 
			  <option value="200">200</option>
			  <option value="300">300</option>
			  <option value="400">400</option>
			  <option value="500">500</option>
			  <option value="600">600</option>
			  <option value="700">700</option>
			  <option value="800">800</option>
			  <option value="900">900</option>
			  <option value="1000">1000 +</option>
			  
		</select>
		<select  class="form-control" name="prixMax" id='prix'>
			  <option value="NULL" selected>{{ 'Prix Max' | trans }}</option> 
			   <option value="0" >0</option> 
			  <option value="100" >100</option> 
			  <option value="200">200</option>
			  <option value="300">300</option>
			  <option value="400">400</option>
			  <option value="500">500</option>
			  <option value="600">600</option>
			  <option value="700">700</option>
			  <option value="800">800</option>
			  <option value="900">900</option>
			  <option value="1000">1000 +</option>
			  
		</select><br><br>
		<input type="submit" name="recherche" value="Valider" class="btn btn-success"/>
		<a class="btn" href={{ path('homepage') }}>{{ 'action.cancel'|trans }}</a>
	</form>
</div>
</div>
{% endblock coteG %}	

{% block body %}
<div  class="col-md-9">
{{ wo_render_breadcrumbs() }}
</div>


<div id="balise" class="col-md-9">
		<script>
			function visibilite(Id)
			{
				var targetElement;
				targetElement = document.getElementById(Id) ;
				if (targetElement.style.display == "none")
				{
					targetElement.style.display = "" ;
				} else {
					targetElement.style.display = "none" ;
				}
			}
		</script>

			<h1> {{ 'colocations'|trans }} </h1>
			<table class="table">
			  <thead class="thead-dark">
				<tr>
				  <th scope="col">{{'Ville'|trans}}</th>
				  <th scope="col">{{'Adresse'|trans}}</th>
				  <th scope="col">{{'Type'|trans}}</th>
				  <th scope="col">{{'nbChambre'|trans}}</th>
				  <th scope="col">{{'Prix'|trans}}</th>
				  <th scope="col"> {{ 'show' | trans }}  /  {{ 'edit' | trans }}  /  {{ 'delete' | trans }} </th>
				</tr>
			  </thead>
			  <tbody>
			
				{% for item in colocations %}

				<tr>
				  <td>{{item.getVille()}}</td>
				  <td>{{item.getAdresse()}}</td>
				  <td>{{item.getType()}}</td>
				  <td>{{item.getNbChambre()}}</td>
				  <td>{{item.getPrix()}} </td>
				<td>
							
			
				<a href={{ path('showColoc' , {'id': item.getId() }) }}  class="btn btn-primary btn-md glyphicon glyphicon-eye-open"> {{ 'show'|trans }}</a> 
				<a href={{ path('editColoc',{'id': item.getId() }) }} class="btn btn-warning btn-md glyphicon glyphicon-pencil"> {{ 'edit'|trans }}</a> 
				 
				<a href="javascript:void(0)" class="btn btn-danger btn-md glyphicon glyphicon-trash" onclick="javascript:visibilite({{item.getId()}});"> {{ 'delete'|trans }}<a/>
				<div id="{{item.getId()}}" style="display:none;text-align:center;" class="col-md-11"  >
					
					<h6>{{'Are you sure you want to delete'|trans}}</h6>
					<a id= "cacher2" href="delete/{{item.getId()}}" class="btn btn-danger btn-md" >{{'Yes'| trans}}</a>
					<a href="javascript:void(0)" id = "cacher3" onclick="javascript:visibilite({{item.getId()}});" class="btn btn-primary btn-md" >{{ 'No'| trans}}</a>
					
				</div>
				</td>
				</tr>
				<br>
				
				{% endfor %}
			  </tbody>
			</table>
	</div>			

{% endblock body %}

