{% extends "@FOSUser/layout.html.twig" %}

{% block coteG %}
<div class="col-md-3">
<div id="balise">
	<h4>Affiner la recherche</h4>
	<form method="POST" name="colocation" class="form-horizontal" action="">

		<label for='ville'>Par Ville</label>
		<input class="form-control" type="text" name='ville' id='ville' />
	
		<label for='type'>Par Type</label>
		<select class="form-control" name="type" id='type'>
			  <option value="NULL" selected>...</option> 
			  <option value="T1" >T1</option> 
			  <option value="T2">T2</option>
			  <option value="T3">T3</option>
			  <option value="T4">T4</option>
			  <option value="T5">T5</option>
			  <option value="T6">T6 et +</option>
			  
		</select><br>
		<label for='pers'>Par nombre de personne</label>
		<select class="form-control" name="nbPers" id='pers'>
			  <option value="NULL" selected>...</option> 
			  <option>2</option> 
			  <option>3</option>
			  <option>4</option>
			  <option>5</option>
			  <option>6 et +</option>
  
		</select><br>
		<label >Par Prix</label>
		
		<select class="form-control"  name="prixMin">
			  <option value="NULL" selected>Prix Min</option> 
			   <option value="0" >0</option> 
			  <option value="100" >100</option> 
			  <option value="200">200</option>
			  <option value="300">300</option>
			  <option value="400">400</option>
			  <option value="500">500</option>
			  <option value="600">600</option>
			  <option value="700">700</option>
			  <option value="800">800</option>
			  <option value="900">900</option>
			  <option value="1000">1000 et +</option>
			  
		</select>
		<select  class="form-control" name="prixMax" id='prix'>
			  <option value="NULL" selected>Prix Max</option> 
			   <option value="0" >0</option> 
			  <option value="100" >100</option> 
			  <option value="200">200</option>
			  <option value="300">300</option>
			  <option value="400">400</option>
			  <option value="500">500</option>
			  <option value="600">600</option>
			  <option value="700">700</option>
			  <option value="800">800</option>
			  <option value="900">900</option>
			  <option value="1000">1000 et +</option>
			  
		</select><br><br>
		<input type="submit" name="recherche" value="Valider" class="btn btn-success"/>
		<a class="btn" href={{ path('homepage') }}>{{ 'action.cancel'|trans }}</a>
	</form>
</div>
</div>
	
{% endblock coteG %}				

{% block body %}

		<script>
			function visibilite(Id)
			{
				var targetElement;
				targetElement = document.getElementById(Id) ;
				if (targetElement.style.display == "none")
				{
					targetElement.style.display = "" ;
				} else {
					targetElement.style.display = "none" ;
				}
			}
		</script>
	
		
						
			
			<h1> {{ 'colocations'|trans }} </h1>
			
				{% for item in colocations %}
				<div class="col-md-3 grille" >
						{{ 'nbChambre' |trans }} : {{item.getNbChambre()}} <br>
						{{ 'nbPers' |trans }} : {{item.getNbPers()}}<br>
						{{ 'adresse' |trans }} : {{item.adresse()}}<br>
						{{ 'Prix' |trans }} : {{item.prix()}} € <br>
						
							
						<a href={{ path('showColoc' , {'id': item.getId() }) }}  class="btn btn-primary btn-md">{{ 'show'|trans }}</a> 
						<a href={{ path('editColoc',{'id': item.getId() }) }} class="btn btn-warning btn-md">{{ 'edit'|trans }}</a> 
						 
						<a href="javascript:void(0)" class="btn btn-danger btn-md" onclick="javascript:visibilite({{item.getId()}});">{{ 'delete'|trans }}<a/>
						<div id="{{item.getId()}}" style="display:none;">
						
							<h6>{{'Are you sure you want to delete'|trans}}</h6>
							<a id= "cacher2" href="delete/{{item.getId()}}">{{'Yes'| trans}}</a>
							<a href="javascript:void(0)" id = "cacher3" onclick="javascript:visibilite({{item.getId()}});">{{ 'No'| trans}}</a>
							
						</div>
						<br>
				</div>
				{% endfor %}

{% endblock body %}

