{% extends "@FOSUser/layout.html.twig" %}

{% block body %}
<div  id="ariane" class="col-md-9">
{{ wo_render_breadcrumbs() }}
</div>

<div id="centre" class="col-md-9">


	{% form_theme demande_form 'bootstrap_4_layout.html.twig' %} 
	<form method="POST" name="demandeation" class="form-horizontal" action="">
	
		<div class="control-group">
			{{form_label(demande_form.comment)}}
			{{form_errors(demande_form.comment)}}
			{{form_widget(demande_form.comment)}}
		</div>
		<div class="control-group">
			<input type='submit' name='Ajout' value={{'Envoyer demande' | trans }} class="btn btn-success"/>
		</div>
	</form>
</div>
{% endblock body %} 

